@import '_base.scss';



body{
  position: relative;
}

#app{
  height: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 24px 12px 0px 12px;
  font-weight: normal;
  overflow-y: scroll;
}
main{
  height: auto;
  padding-bottom: 70px;
}
header{
  z-index: 999;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  padding-bottom: 6px;
  &::before{
    z-index: -1;
    content: '';
    display: block;
    position: absolute;
    background: $black;
    height: 100%;
    width: 100%;
    top: 15px;
  }
}

.container{
  height: auto;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 12px;
  font-weight: normal;
  
}


.title{
  text-align: center;
  color: $yellow;
  font-family: $font-primary;
  font-size: 24px;
  font-weight: 500;
}
.side-title{
  text-align: left;
  color: $yellow;
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 600;
}

.section-title{
  text-align: left;
  color: $white;
  font-family: $font-primary;
  font-size: 18px;
  font-weight: 500;
}





