$font-primary: "Stolzl", serif;
// $font-book: "Stolzl Book", serif;

$black: rgba(13, 13, 13, 1);
$yellow: rgba(255, 241, 0, 1);
$gray-dark: rgba(39, 39, 39, 1);
$gray: rgba(182, 182, 182, 1);
$white: rgba(255, 255, 255, 1);
$gray-light: rgba(106, 106, 106, 1);

